$contact-bg: $white;
$input-border:1px solid black;




.contact-section{
    @include styleSection(150px, 150px, $contact-bg);

    background-image: url(assets/contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    h2{
        text-align: center;
    }
    .contact-form{
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        .form-group{
            margin-bottom: 1.5rem;
            label{
                display: block;
            }
            //label end
            .form-control{
                display: block;
                width: 100%;
                border: $input-border;
                padding: 0px 10px;
                line-height: 4rem;
                @include radius(5px); 
            }
            //form-control end
        }
        //form-group end

    }
    //contact-form end

}
//contact-section end